body {
    background-color: #233521;
    position: relative;
    margin: 0px;
    color: #9fc69c;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.loader-base{
    margin: 0px;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-base > div{
    border-radius: 9999px;
    width: 10vw;
    height: 10vw;
    display: inline-block;
    border: 2px solid THEME_COLOR;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: loader-rotate 1.2s cubic-bezier(0.7, 0.18, 0.44, 0.87) infinite;
}

@keyframes loader-rotate{
    from{
        transform: rotate(0deg)
    }
    to {
        transform: rotate(720deg)
    }
}